body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative; /* 相対位置にすることで、::beforeの上に表示される */
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header h1 {
    float: left;
}

.content {
    display: flex;
}

.main-content {
    flex: 3;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* 背景を透過80%に設定 */
}

.sidebar {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* 背景を透過80%に設定 */
    overflow-y: auto;
    max-height: 80vh; /* サイドバーの高さを制限 */
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px; /* 角を丸くする */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
